@import "sanitize.css";
@import "globals";
@import "header";
@import "layouts";
@import "feature-card";
@import "footer";

body {
  font-family: var(--primary-font-family);
  font-size: var(--body-copy-font-size);
  background-color: white;
}
